<div class="modal" [class.show-modal]="show" (click)="closeModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <div class="modal-header">
      <button class="close-button" (click)="closeModal()">✖</button>
    </div>
    @if (event) {
      <div class="event-details">
        <h3>{{ event.name }}</h3>
        <p>
          @if (event.dist) {
            <span>{{ event.dist }}</span>
          }
          @if (event.link) {
          <a class="register-btn" [href]="event.link" target="_blank" rel="noopener noreferrer" (click)="$event.stopPropagation()">Anmelden →</a>
          }
        </p>
        <h4>Teilnehmer:</h4>
        <ul class="participant-list">
          @for (participant of event.participants; track participant) {
            <li>{{ participant }}</li>
          } @empty {
            <li>🦗 Noch keine Teilnehmer</li>
          }
        </ul>
        @if (!showAddParticipantForm) {
          <button
            class="add-participant-btn"
            (click)="showAddParticipantForm = true">
            + Teilnehmer hinzufügen
          </button>
        }
        @if (showAddParticipantForm) {
          <div class="add-participant-form">
            <input type="text" [(ngModel)]="newParticipantName" placeholder="Teilnehmer eintragen" (keyup.enter)="addParticipant()" />
            <button (click)="addParticipant()">Hinzufügen</button>
          </div>
        }
      </div>
    }
  </div>
</div>
