<div class="events-widget">
  <div class="widget-content">
    <div class="events-container">
      <h2>📰 Nächste Events
        <span class="info-container">
          <img src="assets/info.png" alt="Description" class="info-icon">
          <span class="info-tooltip">
            ⚫ 42KM<br>
            🔴 21KM<br>
            🟡 10KM<br>
            🟢 5KM<br>
            🌄 Trail
          </span>
        </span>
      </h2>

      <ul class="events-list">
        @for (event of events; track event.name) {
          <li class="event-row" (click)="openEventModalHandler(event)">
            <div class="event-left">
              <div>
                <strong>{{event.name}}</strong><br>
                <small>{{getDistText(event.dist)}}</small><br>
                @if (getParticipantCount(event) > 0) {
                  <small>{{ getParticipantCount(event) }} Teilnehmer</small><br>
                }
                <small>📅 {{ formatDate(event.date) }}</small>
              </div>
            </div>
          </li>
        } @empty {
          <li class="no-events">Keine Events geplant 🏃‍♂️</li>
        }
      </ul>
    </div>
    <a routerLink="/events" class="all-events-link">Alle Events ansehen →</a>
  </div>
</div>
